* {
  text-align: center;
}

body {
  font-size: 1.5rem;
  background: white;
  margin: 0px;
  font-family: serif;
  padding:1.5rem;
}

.grad1 {
  background: linear-gradient(to bottom right, blue, yellow);
  color: white;
  padding: 2rem;
}
.grad1 h1 {
  font-size:4rem;
  padding:1rem;
  margin: 0px;
}
.grad1 p {
  margin: 0px 1rem;
  color: #ccc;
  font-size: 1.5rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
table th {
  background: rgb(36, 59, 186);
  color: #fafafa;
}
table th, table td {
  margin: 0px;
  text-align: center;
  padding: 0.66rem;
  border: 1px solid;
}
table tr:nth-child(odd) {
  background-color: white;
}

.head{
  font-size: 2.5rem;
  background: rgb(251, 244, 116);
  
}