/* * {
  text-align: center;
} */

body {
  font-size: 1.5rem;
  background: white;
  margin: 0px;
  font-family: serif;
  padding:1.5rem;
}

.grad {
  background-image: linear-gradient(to bottom right, Black, rgb(195, 104, 168));
  color: white;
  padding: 2rem;
  text-align: center;
}
.grad h1 {
  font-size:5rem;
  padding:1rem;
  margin: 0px;
  text-align: center;
}
.grad p {
  margin: 0px 1rem;
  color: #ccc;
  font-size: 1.5rem;
  text-align: center;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 70%;
}
table th {
  background: rgb(72, 73, 78);
  color: #fafafa;
}
table th, table td {
  margin: 0px;
  text-align: center;
  padding: 0.66rem;
  border: 1px solid;
}
table tr:nth-child(odd) {
  background-color: white;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

.head{
  font-size: 2.5rem;
  /* background: rgb(192, 195, 102); */
  background: rgb(98, 48, 89);
  color:white;
  text-align: center;
}

.but{
  text-align: center;
  padding:1rem;
  border: 1rem;
  background-color: rgb(177, 152, 172);
}
.column {
  float: left;
  width: 30%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.p2{
  text-align: center;
}