/* * {
  text-align: center;
} */

html, body {
  font-size: 1.5rem;
  background: white;
  margin: 0;
  font-family: serif;
  /* padding:1.5rem; */
}

.button {
  background-color: #1129b3;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem;
  border-radius: 12px;
}

.grad {
  /* background-image: linear-gradient(to bottom right, Black, rgb(195, 104, 168)); */
  background-image: linear-gradient(to bottom, rgb(159, 94, 223),white);
  color: white;
  padding: 2rem;
  text-align: center;
}

.grad h1 {
  font-size:5rem;
  padding:1rem;
  margin: 0px;
  text-align: center;
}

.grad p {
  margin: 0px 1rem;
  color: #ccc;
  padding:1rem;
  font-size: 1.5rem;
  text-align: center;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 70%;
}

table th {
  background: rgb(72, 73, 78);
  color: #fafafa;
}

table th, table td {
  margin: 0px;
  text-align: center;
  padding: 0.66rem;
  border: 1px solid;
}

table tr:nth-child(odd) {
  background-color: white;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

.head{
  font-size: 2.5rem;
  /* background: rgb(192, 195, 102); */
  /* background: rgb(98, 48, 89); */
  /* background-image: linear-gradient(to bottom, rgb(122, 15, 164),rgb(37, 40, 144)); */
  color:rgb(122, 15, 164);
  text-align: center;
  /* border-radius: 12px; */
}

p span{
  background-color: #752fd6;
  border-radius:12px;
}

.column-container {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
  background-color: #1847d5;
  padding: 0.7rem;
}

.column-container > div {
  background-color: rgba(220, 201, 250, 0.8);
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.p2{
  text-align: center;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.scaling{
  transform: scale(0.7);
}
.div-head-main{
   width: 100%;
}
.div-head-main h1 {
  font-size:5rem;
  padding:1rem;
  margin: 0px;
  text-align: center;
  color:black;
}
.diver > div{
  margin-left:1rem;
  margin-right: 1rem;
}