<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Costs</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="images/BANG.png">
  </head>

  <body>
    <div class='grad'>
      <h1>Product Cost </h1>
        <p class="p2">
          <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
          <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
          <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
          <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
          <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
          <button type="button" onclick="location.href='http://104.207.153.186/costs'" class="button"> Costs </button>
        </p>
    </div>
    
    <div class="hi">  
    
        <p class="head"> Product Prices </p>
    <p> Our system costs vary by the size of the VIP area and Venue. Estimate is 250m^2 per anchor</p>
    <p> Each bracelet/anchor adds $20 </p>
    <p> Data streaming service costs $1000 per event. </p>
    
    <p class="head"> Business Model</p>
    <p> <b> Primary Service: </b>
        For Stadiums/Arenas the revenue model that will be used for our product and services will be a 10% commission collected on 
        VIP/Suite total sales per event. There will be a standard charge for the equipment, such as for the bracelets and nodes. 
        This data will be used to increase profits and revenue at events.
    </p>
    <p>
        <b> Future: </b>
        We will work with artists/musicians on tour and provide a subscription service model that fits their needs.The subscription 
        price will be based on the amount of user data that needs to be collected and stored. There will be a standard charge for the 
        equipment, such as for the bracelets and nodes.
    </p>
  </div>
  </body>
</html>