<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Costs</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="Product and Services Costs">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="images/BANG.png">
  </head>

  <body>
    <div class='grad'>
      <h1>Product Cost </h1>
        <p class="p2">
          <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
          <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
          <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
          <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
          <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
          <button type="button" onclick="location.href='http://104.207.153.186/costs'" class="button"> Costs </button>
          <button type="button" onclick="location.href='http://104.207.153.186/pivots'" class="button"> Pivots </button>
        </p>
    </div>
    
    <div class="hi">  
    
        <p class="head"> Product Prices </p>
    <p> Our system costs vary by the size of the VIP area and Venue. Estimate is 250m^2 per anchor<br>
        Each bracelet/anchor adds $20 <br> Data streaming service costs $1000 per event</p>
    
    <p class="head"> revenue Model</p>
    <p> <b> Primary Service: </b>
        For Stadiums/Arenas the revenue model that will be used for our product and services will be a 10% commission collected on 
        VIP/Suite total sales per event. There will be a standard charge for the equipment, such as for the bracelets and nodes. 
        This data will be used to increase profits and revenue at events.
    </p>
    <p>
        <b> Future: </b>
        We will work with artists/musicians on tour and provide a subscription service model that fits their needs.The subscription 
        price will be based on the amount of user data that needs to be collected and stored. There will be a standard charge for the 
        equipment, such as for the bracelets and nodes.
    </p>
    <p> <b> Sold directly to Venues</b> 
      MLB Estimates: <br>

      Average fans per MLB game: 28,204 <br>
      
      Average ticket price: $32.99 <br>
      
      Average ticket revenue per game: $930,449.96 <br>
      
      Average food and merchandise revenue per game: $3,102,618.14 <br>
      
      Total of average revenue from ticket, food, and merchandise per game: $4,033,068.10 <br>
      
      Our 10% collected from VIP/Suite sales per game: $1,201,406.19 * 10% = $120,140.62 <br>
      
      MLB home team has 81 home games per season: 81 * $120,140.62 = $ 9,731,390.22 <br>
      
      Outlier: <br>
      Yankee Stadium  <br>
      
      <br>
      NFL Estimates<br>
      
      Average fans per NFL game: 67,254 <br>
      
      Average ticket price: $151.00 <br>
      
      Average ticket revenue per game: $7,000,000.00 <br>
      
      Average food and merchandise revenue per game: $5,200,369.14 <br>
      
      Total of average revenue from ticket, food, and merchandise per game: $12,200,369.14 <br>
      
      Our 10% collected from VIP/Suite sales per game: $1,716,121.82 * 10% = $171,612.18 <br>
      
      NFL Home team has 8 home games per season: 8 * $171,612.18 = $1,372,897.44 <br>
      
      Outlier: <br>
      Sofi Stadium 275 suites generate $56.3 million for LA Rams, LA Chargers revenue will be similar but lower figures. <br>
      </p>
  </div>
  </body>
</html>