<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My ECE140B Website</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>
    <div class='grad'>
      <h1> Welcome to My ECE 140B Website </h1>
      <p> By Rusul AlBusultan </p>
    </div>
   <p> I am a fifth year EE Student and I am graduating this spring quarter with a B.S Degree in EE-DSP. </p>
   <p> I will start my Master's program in EE in the Fall. </p> 
    <section class='spacer'>
      <p class='head'> Product Ideas </p>
      <p> We have two product ideas in mind: </p>
      <ul>
        <li><b>Smart Phone Alarm: </b>This Device notifies you if somebody is in contact with your personal belongings. To use the device, put it on your personal item and get notified when the device senses vibration/change of orientation and location if the item is not in proximity of your phone and lets you activate the alarm to report to you the potential tamperer. The extra benefit you could get from this device is if the personal item is lost, you can find it using the same technology used in AirTags/Tiles. </li>
        <li><b>Concert Bracelet: </b>This concert companion bracelet is a wearable that measure person's vitals and it will be able to communicate with friends or medical team when assistance is necessary/needed for the attendee. The bracelet will have 2 levels of alert warnings. First level of warning will be a warning sent to people you’ve added to your trust circle (friends/family members who are present at the event with the attendee). The alerts will let them know that you may need their assistance. Second level of warning will be a medical assistance request sent to medical officials responsible in the studium. An addtional nice feature the bracelet will have is that the response team and your friends will be able to light up the bracelet remotely in case they have trouble finding you.
</li>
      </ul> 
      <p  class='head'>Team Members</p>
      <p> Here are the team members for the class project: </p>
      <table class='margin-top-xl'>
        <thead>
          <tr>
            <th class='small'> First Name </th>
            <th class='medium'> Last Name </th>
            <th class='large'> Email </th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p  class='head'>Connect With Me</p>
      <div> Email Rusul at rusul@albusultan.com or click on LinkedIn's logo below to be directed to Rusul's LinkedIn page. 
        <p><a href="https://www.linkedin.com/in/rusul-albusultan/" 
        target="_blank"> <img src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png" 
        width="35" height="35"> </a> </p>
         
        <p>Thank you!</p> 
      </div>
    </section>

  </body>
</html>