<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Banglet Home</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="images/BANG.png">
  </head>

  <body>
    <div class=grad> 
      <h1>Banglet</h1>
      <p> Rusul Al Busultan </p>
      <p class="p2">
        <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
        <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
        <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
        <button type="button" onclick="location.href='http://104.207.153.186/costs'" class="button"> Costs </button>
      </p>
    </div>
   
    <div class="hi">
    <p class="head">IA: Information Architecture </p>
    <ol>
      <li> Our Users and of course customers must know our website as the first thing they need to use to interact with our product. 
        Having access to our website will help them create accounts: 
        <ul> 
          <li> User account to upload user info for the event </li>
          <li> Customer (Admin) account to monitor area:user density, locations, etc </li>
        </ul>
        </li>
      <li>Most important IA Design Principles for our product are: 
        <ul> 
          <li> <b> Principle of Choices: </b> offer only useful and meaningful choices to the user (uploading payment methods) and customer 
            (different tracking and data modeling visualization) </li>
          <li> <b> Principle of Front Door: </b> by including a menu drop list or side bar to navigate the website in every page of it. </li>
          <li> <b> Principle of Focused Navigation: </b> by focusing on only providing the links (in forms of buttons and menu options) that can 
          the user navigate through the website such as filling out user info section (for users) and track data modeling (customer). </li>
          <li> <b> Principle of Growth: </b> strive to give the best product to help event organizers give the best VIP experience, so we can see our 
            product grows to even starts suggesting solutions to the customer (implementing ML and pattern recognition). </li>
        </ul>
      </li>
      <li> Most Important Structural Organizational Principles:
        <ul>
          <li><b>Sequential: </b> Users will use our website to create an account and update their account with their info in a sequential order.</li>
          <li> <b> Matrix: </b> Customers will be able to view modeled data on a dashboard page where they can view and interact with different items 
          in different locations on the page.</li>
        </ul>
      </li>
    </ol>

    <p class="head"> 3 Principles of Hierarchy </p>
    <div class="column-container">
      <div><h3>Color and contrast:</h3> 
        By making the buttons color pop.
      </div>
      <div><h3>Typo graphic Hierarchy:</h3>
        By having the Brand Name in large font size next to a relevant photo around our persona/setting.
      </div>
      <div>
        <h3>Alignment:</h3>
          Align texts and images within a section consistently to have a better visual.
      </div>
    </div>
    
    <p class="head">Improvements </p>
      <div class="column-container">
        <div>
          <h3>Improvement #1: Visibility</h3>
          <p> Placed the links of the product and KVP pages in Buttons as shown above. I placed it in 
            the middle and matched button color with the web theme color for more Visibility and Consistency.
          </p>
        </div>
        <div>
          <h3>Improvement #2: Consistency</h3>
          <p> The pattern of the webpage design as well as the text layout is consistent to keep the page
            easy to read and follow. Choosing one theme color keeps the web color consistent as well.
          </p>
        </div>
        <div>
          <h3>Improvement #3: Hard Cognitive tasks</h3>
          <p> I used simple works and notations to make it easy for the webpage visiter to follow what 
            our project is, what it does, and how it does it. 
          </p>
        </div>
      </div>
    <section class='spacer'>
      <p class='head'>Our Product Idea </p>
      <b> VIP Tracking Bracelet (Banglet): </b>
          Banglet is a smart bracelet product that offers venues access to VIP attendee locations to 
          enable services such as concierge (food and drink delivery). When it comes to end-users, the 
          bracelet could enable touch payments, seamless identity check for access to VIP-restricted areas 
          and ordering drinks, as well as potentially an option to find points and persons of interest 
          (bathrooms, medical team, other bracelet users).
     <p class="head">Motivation</p>
        Venues often have hundreds to thousands of people attending and it can be tricky for attendees to 
        find the points of interest such as certain stages, food trucks or bars. Even having the online map 
        of the venue it might be difficult to decipher the current location and figure out which way you’re 
        supposed to go and which sections you can access. Another common issue is getting separated from others 
        by accident. GPS and location sharing with friends is simply not accurate enough and doesn’t have the 
        flexibility to include other attendees. Leaving the conversation to get food or a drink is frustrating 
        and so is looking through your phone to find the tickets.
      
      <p class='head'>Team Members</p>
      <table class='center'>
        <thead>
          <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class='head'>Connect With Me</p>
      <div class="p2"> Click on LinkedIn's logo below to be directed to Rusul's LinkedIn page. 
        <p><a href="https://www.linkedin.com/in/rusul-albusultan/" 
        target="_blank"> <img src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png" 
        width="35" height="35"> </a> </p>
         
        <p>Thank you!</p> 
      </div>
    </section>
  </div>
  </body>
</html>