<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECE140B Website</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>
    <div class='grad'>
      <h1>ECE 140B Team Banglet Website </h1>
      <p> By Rusul Al Busultan </p>
    </div>
   <p class="p2"> We are three undergrad Electrical Engineering students and one graduate ME-EE student. 
     Our team focuses on developing an IoT device that uses Machine Learning and Pattern Recognition. </p>
     <p class="head">Visit out Product and KVP pages:</p>
      <p class="p2"> <button type="button" class="but"> <a href="/product" target="blank"> Product Page </a></button>
      <button type="button" class="but"> <a href="/kvp" target="blank"> KVP Page </a></button> </p>
      <div class="row">
        <div class="column">
          <h3>Improvement #1: Visibility</h3>
          <p> Placed the links of the product and KVP pages in Buttons as shown above. I placed it in 
            the middle and matched button color with the web theme color for more Visibility and Consistency.
          </p>
        </div>
        <div class="column" >
          <h3>Improvement #2: Consistency</h3>
          <p> The pattern of the webpage design as well as the text layout is consistent to keep the page
            easy to read and follow. Choosing one theme color keeps the web color consistent as well.
          </p>
        </div>
        <div class="column">
          <h3>Improvement #3: Hard Cognitive tasks</h3>
          <p> I used simple works and notations to make it easy for the webpage visiter to follow what 
            our project is, what it does, and how it does it. 
          </p>
        </div>
      </div>
      
    <section class='spacer'>
      <p class='head'>Our Product Idea </p>
      <b> VIP Tracking Bracelet (Banglet): </b>
          Banglet is a smart bracelet product that offers venues access to VIP attendee locations to 
          enable services such as concierge (food and drink delivery). When it comes to end-users, the 
          bracelet could enable touch payments, seamless identity check for access to VIP-restricted areas 
          and ordering drinks, as well as potentially an option to find points and persons of interest 
          (bathrooms, medical team, other bracelet users).
     <p class="head">Motivation</p>
        Venues often have hundreds to thousands of people attending and it can be tricky for attendees to 
        find the points of interest such as certain stages, food trucks or bars. Even having the online map 
        of the venue it might be difficult to decipher the current location and figure out which way you’re 
        supposed to go and which sections you can access. Another common issue is getting separated from others 
        by accident. GPS and location sharing with friends is simply not accurate enough and doesn’t have the 
        flexibility to include other attendees. Leaving the conversation to get food or a drink is frustrating 
        and so is looking through your phone to find the tickets.

      <p class='head'>Team Members</p>
      <p> Here are the team members for the class project: </p>
      <table class='center'>
        <thead>
          <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p  class='head'>Connect With Me</p>
      <div class="p2"> Click on LinkedIn's logo below to be directed to Rusul's LinkedIn page. 
        <p><a href="https://www.linkedin.com/in/rusul-albusultan/" 
        target="_blank"> <img src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png" 
        width="35" height="35"> </a> </p>
         
        <p>Thank you!</p> 
      </div>
    </section>

  </body>
</html>