<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECE140B Website</title>
    <meta name="author" content="Rusul Al Busultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="images/BANG.png">
  </head>

  <body>
    <div class='grad'>
      <h1>Our Key Value Proposition </h1>
      <p class="p2">
        <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
        <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
        <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
        <button type="button" onclick="location.href='http://104.207.153.186/costs'" class="button"> Costs </button>
      </p>
    </div>
    <div class="hi">
    <p class='head'>Value Proposition</p>
      <div> 
        Gain Creators Through:
      <ul> 
        <li> Allows for immediate identification of patrons at venues. </li>
        <li> By tracking patrons it removes the guesswork of what patrons are doing during the event and intermission periods. </li>
      </ul>
      Products and Services:
      <ul> 
        <li> Our service will aggregate data on patrons at venues. </li>
        <li> Eases transactions between event vendors and patrons. </li>
        <li> Our product will allow for venues to track patrons within the VIP. </li>
      </ul>
      Pain Relievers:
      <ul> 
        <li> Venues can design floor plans and layouts by using patron collected information. </li>
        <li>  Venues can be more attentive to patrons during events. </li>
        </ul>
      </div>
      <p class='head'>Customer Profile</p>
      <div>
        Gains:
        <ul> 
          <li> Create memorable events so patrons will want to return to venue for other events. </li>
          <li> Better understand patron behavior at venues. </li>
         </ul>
        Customer Jobs:
        <ul> 
           <li> Identify patron needs/wants at  different events. </li>
           <li> Maximize profits for each venue event. </li>
         </ul>
        Pains:
        <ul> 
          <li> Venue be more attentive towards patrons. </li>
          <li> Optimize services towards guests. </li>
         </ul>
      </div>
      <p  class='head'>Connect With Me</p>
      <div class="p2"> Email Rusul at rusul@albusultan.com or click on LinkedIn's logo below to be directed to Rusul's LinkedIn page. 
        <p><a href="https://www.linkedin.com/in/rusul-albusultan/" 
        target="_blank"> <img src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png" 
        width="35" height="35"> </a> </p>
         
        <p>Thank you!</p> 
      </div>
    </section>
    </div>
  </body>
</html>