<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECE140B Website</title>
    <meta name="author" content="Rusul Al Busultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>
    <div class='grad'>
      <h1>Our Key Value Proposition </h1>
    </div>
    <p class='head'>Value Proposition</p>
      <div> Gain Creators Through:
      <ul> 
        <li> Through monitoring older relatives daily patterns abnormalities in schedule can be indicators of disturbances in health or other variables</li>
        <li> Seeing constant data in respect to relatives will help keep constant thinking about older relatives well being </li>
      </ul>
      Products and Services:
      <ul> 
        <li> Track older relatives position</li>
        <li> Abnormal patterns in relatives daily activities will be flagged </li>
        <li> Bracelet for elderly adds ease of usage </li>
        <li> Builds a closer connection and independence between users and older relatives </li>
      </ul>
      Pain Relievers:
      <ul> 
        <li> Current health condition can be inferred based on normal/abnormal daily patterns  </li>
        <li> Location of older relatives will always be known</li>
        <li> Constantly seeing data of older relatives will constantly remind user to think about them</li>
        </ul>
      </div>
      <p class='head'>Customer Profile</p>
      <div>
        Gains:
        <ul> 
          <li> Customers will be able to be more involved in older relatives health </li>
          <li> Push customers to stay more aware of older relatives condition </li>
         </ul>
        Customer Jobs:
        <ul> 
           <li> Can’t confidently trust their relatives that they are “okay” just by word of mouth</li>
           <li> Have to constantly check in with relatives to make sure they are safe </li>
           <li> Having busy schedules can cause us people to forget to check up on older relatives   </li>
         </ul>
        Customer Jobs:
        <ul> 
          <li> Stay up to date with older relatives condition </li>
          <li>Monitor older relatives location to make sure they are safe </li>
          <li> Monitor mental/physical health of older relatives   </li>
         </ul>
      </div>
      <p  class='head'>Connect With Me</p>
      <div class="p2"> Email Rusul at rusul@albusultan.com or click on LinkedIn's logo below to be directed to Rusul's LinkedIn page. 
        <p><a href="https://www.linkedin.com/in/rusul-albusultan/" 
        target="_blank"> <img src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png" 
        width="35" height="35"> </a> </p>
         
        <p>Thank you!</p> 
      </div>
    </section>

  </body>
</html>