<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mock Up</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="BANG.png">
  </head>

  <body>
    <div class='grad'>
      <h1>Mock Up UI </h1>
        <p class="p2">
          <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
          <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
          <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
          <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
          <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
        </p>
    </div>
      
    <p class="p2"> User (VIP) Website Mock Up: </p>
    <img src="MockUp1.png" alt="Mock-Up-User" class="center1">

    <p class="p2"> Customer (venues) Website Mock Up: </p>
    <img src="MockUp2.png" alt="Mock-Up-Customer" class="center1">

  </body>
</html>