<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECE140B Website</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>
    <div class='grad'>
        <h1>Mock Up UI </h1>
        <p class="p2">
        <button type="button" onclick="location.href='http://104.207.153.186/'" class="but"> Home </button>
        <button type="button" onclick="location.href='http://104.207.153.186/product'" class="but"> Product </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="but"> KVP </button>
        <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="but"> UI Laws </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="but"> UI Mock Up </button></p>
    </div>
      

  </body>
</html>