<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pivots</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="Pivoted Ideas">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="images/BANG.png">
  </head>

  <body>
    <div class='grad'>
      <h1>Pivoting</h1>
        <p class="p2">
          <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
          <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
          <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
          <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
          <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
          <button type="button" onclick="location.href='http://104.207.153.186/costs'" class="button"> Costs </button>
          <button type="button" onclick="location.href='http://104.207.153.186/pivots'" class="button"> Pivots </button>
        </p>
    </div>
    
    <div class="hi">  
    
        <p class="head"> Early Stage Pivoting </p>
        <p> At first, our team's idea was tracking. <br> Then, we narrowed it down to tracking kids (where it is a device
            used as an alarm if the tracking device gets taken off of the child). <br> Then, we changed it to tracking
            elders' daily activities and send a report to their care giver/children. <br> Finally, we changes the persona
            and market to focus on tracking VIPs at sport, music, and other events to provide them with the best service
            and give them the best VIP experience.  
        </p>
        <p class="head"> Mid-Late Stage Pivoting </p>
        <p> As we are developing our Banglet product/service, we started narrowing down features. We started cutting off: 
        </p>
        <table class='center'>
            <thead>
              <tr>
                <th> Pivoted Feature </th>
                <th> Explanation </th>
                <th> Pivot Type </th>
                <th> Reason </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Button to request services </td>
                <td> This feature had a low benefit as VIPs are surrounded with vendors closely. Plus, the venue will be
                     aware of VIP guests' preferences so venue will offer VIPs accordingly </td>
                <td> Customer Need Pivot</td>
                <td> After studying each feature of our device, we saw that customers might not really need this feature, 
                  or it is available another way </td>
              </tr>
            </tbody>
          </table>
  </div>
  </body>
</html>