<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECE140B Website</title>
    <meta name="author" content="Rusul Al Busultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>
    <div class='grad'>
      <h1>Our Product </h1>
      <p> Tracklet </p>
    </div>
    <p  class='head'>For Whom</p>
      <div> <ul> 
        <li> Elderly Individual</li>
        <li> Others with medical conditions who need caregiver attention </li>
      </ul>
      </div>
    <p  class='head'>What It Does</p>
      <div> 
        Collects data such as:
        <ul>
        <li> Steps</li>
        <li> Time spent in a position/room</li>
        <li> Time spent for an activity</li>
        <li> Activity log </li> </ul>
        From the data, our system starts to recognize the pattern of lifestyle and activities the user has. 
        Then if it recognizes any abnormality, it will send alerts to:  
        <ul><li> Family members </li>
        <li> Other legal caregiver </li> </ul>
      </div>
    <p  class='head'>How It Works</p>
      <div> 
        Using Machine Learning and Pattern Recognition, we can deliver a peace of mind regarding your loved ones. Our technology tracks 
        user's positions and activities to make sure everything is normal with the user.
      </div>
    <p  class='head'>Key Benefits</p>
      <div> <ul>
        <li> Find out if the user daily activities are normal compared to other days </li>
        <li> Have peace of mind about your loved parent/grandparent </li>
      </ul>

      </div>
    <p  class='head'>Connect With Me</p>
    <div class="p2"> Click on LinkedIn's logo below to be directed to Rusul's LinkedIn page. 
      <p><a href="https://www.linkedin.com/in/rusul-albusultan/" 
      target="_blank"> <img src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png" 
      width="35" height="35"> </a> </p>
        
      <p>Thank you!</p> 
    </div>

  </body>
</html>