<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product</title>
    <meta name="author" content="Rusul Al Busultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="images/BANG.png">
  </head>

  <body>
    <div class='grad'>
      <h1>Our Product </h1>
      <p> Banglet </p>
      <p class="p2">
        <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
        <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
        <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
        <button type="button" onclick="location.href='http://104.207.153.186/costs'" class="button"> Costs </button>
        <button type="button" onclick="location.href='http://104.207.153.186/pivots'" class="button"> Pivots </button>
      </p>
    </div>
    <div class="hi">
      Banglet is a smart bracelet product that offers venues access to VIP attendee locations to 
      enable services such as concierge (food and drink delivery). When it comes to end-users, the 
      bracelet could enable touch payments, seamless identity check for access to VIP-restricted areas 
      and ordering drinks, as well as potentially an option to find points and persons of interest 
      (bathrooms, medical team, other bracelet users).
    <p  class='head'>For Whom</p>
      <div> <ul> 
        <li> Event venues offering VIP option</li>
      </ul>
      </div>
    <p  class='head'>What It Does</p>
      <div> 
        Collects data such as:
        <ul>
        <li> Guests' location</li>
        <li> Check-ins at Vendors</li>
        <li> Amount of money spent on which vendors</li>
       </ul>
        From the data, our system analyzes and models the data collected and present it to the event planner 
        to help the planner enhance the VIP experience they provide to guests. 
      </div>
    <p  class='head'>How It Works</p>
      <div> 
        Using UWB (Ultra-Wideband, used for short range communication) as our communication technology to 
        connect the bracelets to our servers, each individual 
        bracelet will carry the user/guest info and the bracelet will send location and purchase info to our 
        server for analysis. At the same time, the bracelet can be used as identification and payment tool 
        where the user can upload their info in advance to their banglet account and have their info available 
        on the QR code on their Banglet. 
      </div>
    <p class="head">Features vs. Benefits</p>
      <table class='center'>
        <thead>
          <tr>
            <th> Feature </th>
            <th> Benefit </th>
            <th> For (who) </th>
            <th> Why </th>
          </tr>
        </thead>
        <tbody>
        
          <tr>
            <td> Associate every VIP guest a unique RFID imbedded in the bracelet </td>
            <td> For Venues. It helps track the guests </td>
            <td> Used by VIP guests and mostly benefits venues and event organizers to provide the suitable beverages/food/etc 
              near individual VIPs 
            </td>
            <td> Based data collected, our system will make it easier to help serve individuals ad increase spending (supported by 
              RFID, tapping payment) </td>
          </tr>

          <tr>
            <td> Visual Representation of user data</td>
            <td> Ease of tracking and visualizing VIPs activities and densities in different areas </td>
            <td> For venues </td>
            <td> It helps venues take actions to better serve VIPs and grow venues's business </td>
          </tr>

          <tr>
            <td> User profile </td>
            <td> To learn more about the guests to better serve them </td>
            <td> For users (VIPs) </td>
            <td> When guests provide their food/beverage preferences, venues will make them available to reach VIPs satisfaction  </td>
          </tr>

          <tr>
            <td> Make payment with our bracelet </td>
            <td> For ease of payment and less worry of carrying wallet </td>
            <td>  VIPs </td>
            <td> Venues can look at purchases (total and items made by VIPs) for analysis and service improvement for live and future 
              events (stocking certain items) </td>
          </tr>

          <tr>
            <td> Login with Google account as an option </td>
            <td> make it easer for the user to make an account with our system to provide us with their information and some preferences</td>
            <td> VIPs </td>
            <td> It's important to make it easy for VIPs to cooperate with to help venues give them better VIP experience </td>
          </tr>
          
        </tbody>
      </table>
    <p  class='head'>Key Benefits</p>
      <div> <ul>
        <li> For users, our product provides ease of identification (ticket, ID, payment). </li>
        <li> For venues, it provides location of guests to improve vendor localization. </li>
      </ul>
      </div>
      <p class="head">Empathy Map</p>
      <p class="p2"> Customer Empathy Map </p>
      <p><img src="Empathy-Map-customer.png" alt="Empathy-Map-customer" class="center1"> </p>
      <p class="p2">User Empathy Map </p>
      <p> <img src="Empathy-Map-user.png" alt="Empathy-Map-user" class="center1"> </p>
    <p  class='head'>Connect With Me</p>
    <div class="p2"> Click on LinkedIn's logo below to be directed to Rusul's LinkedIn page. 
      <p><a href="https://www.linkedin.com/in/rusul-albusultan/" 
      target="_blank"> <img src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png" 
      width="35" height="35"> </a> </p>
        
      <p>Thank you!</p> 
    </div>
    </div>
  </body>
</html>