<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Laws of UI</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="BANG.png">
  </head>

  <body>
    <div class='grad'>
        <h1>Laws of UI Design </h1>
          <p class="p2">
            <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
            <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
            <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
            <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
            <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
          </p>
    </div>
     
    <p class="head">List of Laws with example:</p>
    <h2><b>Tesler's Law:</b>  </h2>
    <p>It's known as the law of conservation of complexity. It states that for any system there is a certain amount 
        of complexity which can't be reduced.
    </p>
    <p><b>Example:</b> Displaying the modeled data to the customer to improve their VIP services. Data modeling and 
        visualization can't be simpler than the below picture (i.e. displaying the data of user density in particular areas.) </p>
        <img src="https://www.mdpi.com/sustainability/sustainability-12-00634/article_deploy/html/images/sustainability-12-00634-g012.png" alt="chart" >

  </body>
</html>