<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Laws of UI</title>
    <meta name="author" content="Rusul AlBusultan">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
    <link rel="icon" href="images/BANG.png">
  </head>

  <body>
    <div class='grad'>
        <h1>Laws of UI Design </h1>
          <p class="p2">
            <button type="button" onclick="location.href='http://104.207.153.186/'" class="button"> Home </button>
        <button type="button" onclick="location.href='http://104.207.153.186/product'" class="button"> Product </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/kvp'" class="button"> KVP </button>
        <button type="button" onclick="location.href='http://104.207.153.186/ui_laws'" class="button"> UI Laws </button> 
        <button type="button" onclick="location.href='http://104.207.153.186/mockup'" class="button"> UI Mock Up </button>
          </p>
    </div>
     
    <p class="head">List of Laws with example:</p>
    <h2><b>Tesler's Law:</b>  </h2>
    <p>It's known as the law of conservation of complexity. It states that for any system there is a certain amount 
        of complexity which can't be reduced.
    </p>
    <p><b>Example:</b> Displaying the modeled data to the customer to improve their VIP services. Data modeling and 
        visualization can't be simpler than the below picture (i.e. displaying the data of user density in particular areas.) </p>
        <img src="https://www.mdpi.com/sustainability/sustainability-12-00634/article_deploy/html/images/sustainability-12-00634-g012.png" alt="chart" >
    
    <h2><b>Miller's Law:</b>  </h2>
    <p>This law states that the average person can only keep 7 (+/-2) items in working memory. </p>
    <p><b>Example:</b> In our product, we reduce the amount of information the customer need to keep in mind
    when ot comes to taking care of VIP guests. Our product plays a great rule in keeping records of guests
    and their preferences for better VIP service/experience.</p>
        <img src="https://connect.protel.net/files/source/pairexthelp/en_US/image1604.gif" alt="chart" >
        
    <h2><b>Law of Proximity:</b>  </h2>
    <p> This law states that Objects that are near, or proximate to each other, tend to be grouped together.</p>
    <p><b>Example:</b> Our products targets VIPs so the users of our product are VIPs in VIP restricted areas. They are grouped 
      and serviced by ticket/reservation type.</p>
        <img src="https://media.istockphoto.com/photos/global-social-network-and-connection-concept-picture-id1180671626?k=20&m=1180671626&s=612x612&w=0&h=iluUF4drfR9uYHcvypnIIpiKsgLzWC-LocneE4a7fkM=" alt="chart" >
  </body>
</html>